:root {
    --accent: 136, 58, 234;
    --accent-light: 153, 198, 142;
    --accent-dark: 49, 10, 101;
    --accent-frog-green: #99C68E;
    --accent-light-green: #F1F7ED;
    --accent-gradient: linear-gradient(
    200deg,
    green,
    lightgreen 60%,
    lightgreen 30%
    );
    --accent-gradient-orange: linear-gradient(
    45deg,
    orange,
    orange 10%,
    white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
}
input, button {
    font-size: 20px;
}
button, input.button {
    background-color: var(--accent-frog-green);
    color: white;
    border-radius: 5px;
    transition-duration: 0.2s;
    padding: 0px 6px;
    margin: 2px 0px;
}
button:hover, input.button:hover {
    background-color: green;
    color: white;
}
