---

---

<!--
    Try to ensure there is no whitespace after the <slot/> so that punctuation
    after this component is properly placed.
-->
<span class='text-frog-600 font-semibold'>Peak Logger</span><slot />
