---
import Base from './Base.astro';
import HeaderBasic from '../components/HeaderBasic.astro';
import Footer from '../components/Footer.astro';
import '../styles/landingPage.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<Base title={title}>
    <div
        class="md:bg-[url('/garibaldi.jpeg')] md:bg-cover md:bg-fixed md:bg-center"
    >
        <HeaderBasic />
        <main class='mt-20 md:px-4 px-2 bg-white py-8 max-w-full h-full'>
            <slot />
        </main>
        <Footer />
    </div>
</Base>
