---
import Base from './Base.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
var name = Astro.locals.user.firstname;
if (!name) {
    name = '';
}
---

<Base title={title}>
    <Header name={name} />
    <main class='md:m-auto md:px-4 px-2 py-2 md:py-4 max-w-full'>
        <slot />
    </main>
    <Footer />
</Base>
